<a href="https://colab.research.google.com/github/PriyaMurali/Exploratory-Data-Analysis/blob/master/April12thModified.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
path ="/content/adult.csv"
df = pd.read_csv(path)
df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

Add relevant headers to the file

# New Section

# New Section

In [ ]:
df.columns = ["Age","Employement","Salary","Education","Education-num","Marital-Status","Profession","Relationship","Race","Sex","Capital-Gain","Capital-Loss","hpw","Country","Salary-Range"]
df.tail()

,Age,Employement,Salary,Education,Education-num,Marital-Status,Profession,Relationship,Race,Sex,Capital-Gain,Capital-Loss,hpw,Country,Salary-Range
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
#Male & Female members
df['Sex'].value_counts()

 Male      21789
 Female    10771
Name: Sex, dtype: int64

In [ ]:
#Mean of Age based on Salary
df.groupby('Salary-Range').mean()['Age']

Salary-Range
 <=50K    36.783648
 >50K     44.249841
Name: Age, dtype: float64

In [ ]:
#SD of Age based on Salary
df.groupby('Salary-Range').std()['Age']

Salary-Range
 <=50K    14.020365
 >50K     10.519028
Name: Age, dtype: float64

In [ ]:
#Question 4
#Is it true that people who earn more than 50K have at least high school education?

df.groupby('Salary-Range')['Education'].head(20)

0         Bachelors
1           HS-grad
2              11th
3         Bachelors
4           Masters
5               9th
6           HS-grad
7           Masters
8         Bachelors
9      Some-college
10        Bachelors
11        Bachelors
12       Assoc-acdm
13        Assoc-voc
14          7th-8th
15          HS-grad
16          HS-grad
17             11th
18          Masters
19        Doctorate
20          HS-grad
21              9th
22             11th
23          HS-grad
24        Bachelors
25          HS-grad
26     Some-college
27          HS-grad
28          HS-grad
29       Assoc-acdm
37     Some-college
44        Bachelors
51      Prof-school
52        Bachelors
54     Some-college
62        Doctorate
66          HS-grad
67     Some-college
71        Bachelors
83          HS-grad
Name: Education, dtype: object

In [ ]:
#Question 5
#Display age statistics for each race (race feature) and each gender (sex feature)

print(" Mean Statistics:",df.groupby(['Sex','Race']).describe()['Age'])


#print("\nMedian Statistics:",df.groupby('Sex').median()['Age'])
#print("\nMean Statistics:",df.groupby('Race').mean()['Age'])
#print("\nMedian Statistics:",df.groupby('Race').median()['Age'])
#df.groupby('Race').apply(pd.DataFrame.mode)['Age']

 Mean Statistics:                                count       mean        std   min   25%   50%  \
Sex     Race
 Female  Amer-Indian-Eskimo    119.0  37.117647  13.114991  17.0  27.0  36.0
         Asian-Pac-Islander    346.0  35.089595  12.300845  17.0  25.0  33.0
         Black                1555.0  37.854019  12.637197  17.0  28.0  37.0
         Other                 109.0  31.678899  11.631599  17.0  23.0  29.0
         White                8642.0  36.811618  14.329093  17.0  25.0  35.0
 Male    Amer-Indian-Eskimo    192.0  37.208333  12.049563  17.0  28.0  35.0
         Asian-Pac-Islander    693.0  39.073593  12.883944  18.0  29.0  37.0
         Black                1569.0  37.682600  12.882612  17.0  27.0  36.0
         Other                 162.0  34.654321  11.355531  17.0  26.0  32.0
         White               19173.0  39.652532  13.436378  17.0  29.0  38.0

                               75%   max
Sex     Race
 Female  Amer-Indian-Eskimo  46.00  80.0
         Asian-Pac-Islander  43.75  75.0
         Black               46.00  90.0
         Other               39.00  74.0
         White               46.00  90.0
 Male    Amer-Indian-Eskimo  45.00  82.0
         Asian-Pac-Islander  46.00  90.0
         Black               46.00  90.0
         Other               42.00  77.0
         White               49.00  90.0

In [ ]:
#Question 6
""" Among whom is the proportion of those who earn a lot (>50K) greater: married
or single men (marital-status feature)? Consider as married those who have a marital-status
starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse),
the rest are considered bachelors."""

#Storing the data in a variable
group2 =df[["Marital-Status","Salary-Range"]].groupby(["Marital-Status"], as_index=False).count()
group2
group2.get_group("Married-civ-spouse")

           Marital-Status  Salary-Range
0                Divorced          4443
1       Married-AF-spouse            23
2      Married-civ-spouse         14976
3   Married-spouse-absent           418
4           Never-married         10682
5               Separated          1025
6                 Widowed           993

In [ ]:
#group2.get_group("Married-civ-spouse")['Marital-Status']
df2 = {group2['Marital-Status'].get(1):group2["Salary-Range"].get(1),
       group2['Marital-Status'].get(2):group2["Salary-Range"].get(2),
       group2['Marital-Status'].get(3):group2["Salary-Range"].get(3)}
df2

{' Married-AF-spouse': 23,
 ' Married-civ-spouse': 14976,
 ' Married-spouse-absent': 418}

In [ ]:
# Finding the count 
group.get_group("Divorced")["Salary-Range"]

KeyError: ignored

In [ ]:
list=['Married-civ-spouse', 'Married-spouse-absent','Married-AF-spouse']
#df.filter(df.loc['Marital Status'].isin(list))
#df.loc[df['Marital Status']]
df["Marital-Status"].str.startswith("Married")

0        False
1        False
2        False
3        False
4        False
         ...
32555    False
32556    False
32557    False
32558    False
32559    False
Name: Marital-Status, Length: 32560, dtype: bool

In [92]:
df1=df.groupby('Salary-Range')['Salary-Range','Education','Education-num'].head(20)
#(df['Salary-Range'] == ' >50K' and df['Education-num'] > 9)

data_query = df[(df['Education-num'] > 9) & (df['Salary-Range'].str.startswith(" >"))]
print(data_query)

       Age Employement  Salary      Education  Education-num  \
7       31     Private   45781        Masters             14
8       42     Private  159449      Bachelors             13
9       37     Private  280464   Some-college             10
10      30   State-gov  141297      Bachelors             13
13      40     Private  121772      Assoc-voc             11
...    ...         ...     ...            ...            ...
32535   34     Private  160216      Bachelors             13
32537   38     Private  139180      Bachelors             13
32538   71           ?  287372      Doctorate             16
32544   39   Local-gov  111499     Assoc-acdm             12
32553   53     Private  321865        Masters             14

            Marital-Status        Profession    Relationship  \
7            Never-married    Prof-specialty   Not-in-family
8       Married-civ-spouse   Exec-managerial         Husband
9       Married-civ-spouse   Exec-managerial         Husband
10      Married-civ-spouse    Prof-specialty         Husband
13      Married-civ-spouse      Craft-repair         Husband
...                    ...               ...             ...
32535        Never-married   Exec-managerial   Not-in-family
32537             Divorced    Prof-specialty       Unmarried
32538   Married-civ-spouse                 ?         Husband
32544   Married-civ-spouse      Adm-clerical            Wife
32553   Married-civ-spouse   Exec-managerial         Husband

                      Race      Sex  Capital-Gain  Capital-Loss  hpw  \
7                    White   Female         14084             0   50
8                    White     Male          5178             0   40
9                    Black     Male             0             0   80
10      Asian-Pac-Islander     Male             0             0   40
13      Asian-Pac-Islander     Male             0             0   40
...                    ...      ...           ...           ...  ...
32535                White   Female             0             0   55
32537                Black   Female         15020             0   45
32538                White     Male             0             0   10
32544                White   Female             0             0   20
32553                White     Male             0             0   40

              Country Salary-Range
7       United-States         >50K
8       United-States         >50K
9       United-States         >50K
10              India         >50K
13                  ?         >50K
...               ...          ...
32535   United-States         >50K
32537   United-States         >50K
32538   United-States         >50K
32544   United-States         >50K
32553   United-States         >50K

[5922 rows x 15 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [ ]:
df['Salary-Range'] == ' >50K'

0        False
1        False
2        False
3        False
4        False
         ...
32555    False
32556     True
32557    False
32558    False
32559     True
Name: Salary-Range, Length: 32560, dtype: bool